<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OAuth2 witn Microsoft Entra</title>
    <link rel="icon" type="image/svg+xml" href="/static/images/logo.svg" />
    <link rel="stylesheet" href="/static/common.css" />
</head>
<body>
    <h1>Code Authorization Flow</h1>

    <a href="/" class="back">
        <img src="/static/images/go-back-arrow.svg" alt="Back" />
    </a>

    <div class="content">
    </div>

    <footer>
        <hr>
        <span>Powered by <span class="xebia">Xebia | Microsoft Services</span></span>
    </footer>
</body>
</html>