<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>OAuth2 witn Microsoft Entra</title>
    <link rel="icon" type="image/svg+xml" href="/static/images/logo.svg" />
    <link rel="stylesheet" href="/static/css/common.css" />
    <link rel="stylesheet" href="/static/css/index.css" />
</head>
<body>
    <h1>OAuth2 witn Microsoft Entra</h1>
    <h2>Welcome!</h2>

    <div class="content">
        <a href="/code" class="image_button">
            <img src="/static/images/user.svg" alt="Authorization Code Flow" />
            <div class="overlay">
                <div class="text">Authorization Code Flow</div>
            </div>
        </a>
        <a href="/device" class="image_button">
            <img src="/static/images/iot-hub.svg" alt="Device Code Flow" />
            <div class="overlay">
                <div class="text">Device Code Flow</div>
            </div>
        </a>
    </div>

    <footer>
        <hr>
        <span>Powered by <span class="xebia">Xebia | Microsoft Services</span></span>
    </footer>
</body>
</html>